.pagination{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.icons{
  display: flex;
  gap: 4px;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  border: white 1px solid;
  transition: 0.2s;
  &:hover{
    background: white;
    color: #1a1a1a;
  }
}